/* Generales */
html, body {
	margin: 0;
	padding:0;
	width:100%;
	height:100%;
}

body {
    background: url(../images/saltofondo.jpg);
    background-size: cover;
}
/* ---------------------------------------------------- */

/* Div contenedor de juego*/
.game {
    width: 1000px;
    height: 700px;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
	overflow: hidden;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 2px;
}
/* ----------------------------------------------------------- */

/* Estilos de todos los layers */
.game .layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: repeat-x;
    background-size: cover;
}

.game .fondo{
    background:url("../images/layer-1.png");
    animation-name: desplazarDerecha;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
.game .explosion{
    background:url("../images/explosion.png") no-repeat;
    animation-name: animationexplosion;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
    
}

.game .naves{
    background:url("../images/layer-2.png");
    animation-name: desplazarDerecha;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

.game .piso{
    background:url("../images/layer-3.png");
    animation-name: desplazarDerecha;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}

.game .obstaculo{
    top: 530px;
    background:url("../images/roca.png") no-repeat;
    background-size: 120px;
    animation-name: desplazarObstaculo;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count:infinite;
}
/*------------------------------------------------------------------------ */

/* Distintas clases por cada accion */
.game .caminar{
    height: 115px;
    width: 92px;
    top:500px;
    background: url(../images/walk.png) left center;
    animation-name: desplazarDerecha;
    animation-duration: 1s;
    animation-timing-function: steps(8);
    animation-iteration-count:infinite;
}

.game .correr{
    height: 115px;
    width: 107px;
    top:500px;
    background: url(../images/run.png) left center;
    animation-name: desplazarDerecha;
    animation-duration: 2s;
    animation-timing-function: steps(8);
    animation-iteration-count:infinite;
}
/*--------------------------------------------------------------------------------*/
@keyframes desplazarObstaculo{
    from{
        margin-left: 200%;
    }
    to {
        margin-left: 0%;
    }
  }
@keyframes desplazarDerecha{
    from{
        background-position-x: 0%;
    }
    to {
        background-position-x: 100%;
    }
  }

@keyframes animationexplosion {
    0%{
        background-position-x: 0%;
        opacity: 100%;
    }
    70%{
        opacity: 0%;
    }
    100%{
        background-position-x: 300%;
        opacity: 0%;
    }
}

