/* -------------------------------- Estilos Globales -------------------------------- */
body {
	font-family: 'Montserrat', sans-serif !important;
  }

h1 {
	font-size: 2.2rem !important; 
}

h3 {
	font-size: 1.2rem !important; 
}

h5 {
	font-size: 0.9rem !important; 
}

p {
	font-size: 0.8rem;
}

a {
	text-decoration: none !important;
}

/* -------------------------------- Nav -------------------------------- */
.site-header {
	color:white;
	position: relative;
	background-color: #167979;
	-webkit-backdrop-filter: saturate(180%) blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	height: 3.75rem;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
  }
  
  .site-header a {
	color: white;
	transition: ease-in-out color .15s;
  }
  
  .site-header .container {
	justify-content: center !important;
	}

	.padding5 {
		padding: 0.5rem;
	}

	.padding10 {
		padding: 1rem;
	}


/* Animacion botones hover nav*/
  
a.material-icons:hover {
		background-color: transparent;
		/* transform: rotate(90deg); */
		transform: scale(1.5);
		cursor: pointer;
		box-shadow: none;
		color: #F5C971;
}

/* -------------------------------- Contenedores -------------------------------- */

#div_principal {
	margin-top: 5.55rem;
	width: 80%;
	margin-left: auto;
  	margin-right: auto;
}

/* -------------------------------- Publicaciones -------------------------------- */

.publicaciones {
	padding: 0rem !important;
	background-color: #D0EEE9;
	border-radius: 5px;
}

.sugerencias {
	padding: 0rem !important;
	background-color: #D0EEE9;
	border-radius: 5px;
	height: 630px;
}

.chat {
	padding: 0rem !important;
	background-color: #D0EEE9;
	border-radius: 5px;
	height: 630px;
}


/* -------------------------------- Cards sugerencias de amistad -------------------------------- */

.card {
    width: 100%;
    border-radius: 33px;
}

.top-container {
    display: flex;
    align-items: center;
	background: rgba(255, 226, 195, 0.4);
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.profile-image {
	border: 0.1px solid #167979;
	margin: 2px;
}

.nameSugerencias {
    font-size: 14px;
    color: #272727;
    position: relative;
    top: 8px
}

.infoSugerencias {
    font-size: 12px;
    color: grey;
    position: relative;
    top: 2px
}

.card:hover {
	font-weight: bold;
    border: 1px solid #167979;
}
