* {
    margin: 0%;
    padding: 0%;
}

body {
  font-family: 'Montserrat', sans-serif !important;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/loginfondo2.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  color: white;
  font-size: 4rem;
}

h2{
  font-weight: 600;
}

.modal{
    position: inherit;
    width: 21.8rem;
    height: 27rem;
    background-color: #D0EEE9;
    opacity: 80%;
    border-radius: 15px;
    padding: 0.5rem;
    display:block;
    align-items: center;
    text-align: center;
}

.input {
    position: relative;
    width: 100%;
    height: 50px;
    margin-bottom: 0.5rem;
}

.your-input {
    margin-top: 0.1rem;
}

.your-input input{
    width: 100%;
    height: 50px;
    padding-top: 1.1rem;
    padding-left: 9px;
    outline: none;
    border: 1px solid #8c8c8c;
    border-radius: 3px;
    transition: .2s;
    border-radius: 15px;
    box-shadow: 2px 3px 5px #999;
}
  
.your-input label {
    position: absolute;
    top: 30%;
    left: 10px;
    font-size: 1.1rem;
    color: #8c8c8c;
    transition: .2s;
}
  
.input input:focus ~ label,
.input input:valid ~ label, 
.input input:invalid ~ label{
    top: 10%;
    font-size: .8rem;
    color: #000;
}
  
.input input:focus {
    border-width: 2px;
    border-color: #139A41;
}
  
.forgot-password-link {
    width: 140px;
    padding: .2rem;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
    color: #0A66C3;
    transition: .3s;
    border-radius: 12px;
}
.forgot-password-link:hover{
    background: rgba(10, 102, 195, 0.3);
}
  
.btn{
  width: 100%;
  border-radius: 15px;
  font-size: 1.2rem;
  box-shadow: 2px 3px 5px #999;
  border-color: #999;
}

.btn-primary {
  background: #167979;
  color: white;
  margin-top: 1.4rem;
}

.btn-primary:hover{
  background: #167965;
}

.btn-secundary {
  background: #164d79;
  color: white;
}

.form-select{
  width: 100%;
  height: 50px;
  border: 1px solid #8c8c8c;
  border-radius: 15px;
  box-shadow: 2px 3px 5px #999;
  margin-bottom: 0.5rem;
  color: #000;
  font-size: 0.8rem;
}

